.components-table-demo-control-bar .ant-form-item {
    margin-right: 16px;
    margin-bottom: 8px;
  }

tfoot th,
tfoot td {
    background: #fafafa;
  }
  [data-theme="dark"] tfoot th,
  [data-theme="dark"] tfoot td {
    background: #1d1d1d;
  }